<table class="table table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Username
      </th>
      <th>
        Email
      </th>
      <th>
        Last Seen
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of (users$ | async).results; let idx = index">
      <td>
        {{idx + 1}}
      </td>
      <td>
        <a [routerLink]="['/users', user.id]">{{user.username}}</a>
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.last_seen | date:'short'}}
      </td>
    </tr>
  </tbody>
</table>
