<form [formGroup]="passwordForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input type="password" class="form-control" id="newPassword" autocomplete="off" formControlName="newPassword">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <div class="input-group has-validation">
        <input type="password" class="form-control" id="confirmPassword" autocomplete="off"
          formControlName="confirmPassword">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h5>Password Requirements</h5>
      <ul>
        <li>At least one special character</li>
        <li>At least one number</li>
        <li>Minimum 6 characters</li>
      </ul>
    </div>
  </div>

  <button id="changePasswordBtn" type="submit" class="btn btn-secondary" [disabled]="passwordForm.invalid">Change Password</button>
</form>
